{% extends "form/base.html" %}
{% block title %}Отзыв{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Отзыв</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>оцените книгу</p>
        <div class="mb-3">
            {{ form.rating.label(class="form-label") }}{{ form.rating(class="form-control") }}
        </div>
        <div class="mb-3">{{ form.review.label(class="form-label") }}{{ form.review(class="form-control") }}</div>
        <button type="submit" class="btn btn-primary w-100">Оставить отзыв</button>
    </form>
{% endblock %}