{% extends 'genre/base_home_log.html' %}
{% block title %}Card{% endblock %}
{% block genre_list %}
<div class='card w-25'>
    <div class='card-body' onmouseover="this.style.backgroundColor='#e8e9ea';"
         onmouseout="this.style.backgroundColor='#fff';"
         onclick="location.href='/main';" role='button'>Главная
    </div>
    {% for genre in genres %}
    <div class='card-body' onmouseover="this.style.backgroundColor='#e8e9ea';"
         onmouseout="this.style.backgroundColor='#fff';"
         onclick="location.href='/genre_log/{{genre.title}}';" role='button'>
        {{genre.title }}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block content %}
<div class='card w-25 text-center' role='button' onclick="location.href='/orders_page'">Заказы</div>
<div class='card w-25 text-center' role='button' onclick="location.href='/cart'">Корзина</div>
<div class='card w-25 text-center' role='button' onclick="location.href='{{ url_for('user.logout') }}';">Выход</div>
{% endblock %}
{% block body_genre %}
<div class='m-5'>
    <h2 class='text-center'>Корзина</h2>
    <div class='d-flex flex-column gap-4 w-75 mb-5 m-auto'>
        <div class='d-flex flex-column'>
            {% for item in books_list %}
            <div class='d-flex border m-2 p-3 justify-content-between'
                 onclick="location.href='/book_page_review/{{item.book_id}}';" role='button'>
                <img src='https://content.img-gorod.ru/pim/products/images/f1/0e/018fa2d6-0649-7070-ab14-c5b66029f10e.jpg?width=0&height=1200&fit=bounds'
                     class='card-img-top bg-light w-25 ' alt='...'>
                <div class='d-flex flex-column justify-content-around'>
                    <h5 class='card-title m-0'>{{item.title}}</h5>
                    <p class='card-text m-0'>{{item.author}}</p>
                    <h6 class='card-text font-weight-bold m-0'>{{item.price}} P * {{item.count}} шт.</h6>
                    <div class='d-flex gap-2'>
                        <a href='/edit_cart_plus/{{item.book_id}}' class='btn btn-primary w-25'>+</a>
                        <a href='/edit_cart_minus/{{item.book_id}}' class='btn btn-primary w-25'>-</a>
                    </div>
                    <div>{{item.price_count}}</div>
                    <a href='/edit_cart_del/{{item.book_id}}' class='btn btn-primary'>Удалить</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='d-flex flex-column border align-items-center p-3 gap-4 '>
            <div>
                Итого: {{itog}} Р
            </div>
            <div class='btn btn-primary w-50' onclick="location.href='/type_address/{{itog}}';">
                Оформить Заказ
            </div>
        </div>
    </div>
</div>
{% endblock %}
